@using Atron.Application.DTO;
@using Shared.DTO;
@using Shared.Services;
@using Newtonsoft.Json;
@using Atron.WebViews.Models;
@model CargoModel;

<style>
    .modal-lg {
        max-width: 80%;
    }
</style>

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a asp-action="Cadastrar" class="btn btn-success">
                <span title="Cadastrar novo" class="fas fa-plus"></span> Cadastrar novo
            </a>
        </div>
    </div>
</div>
<br />


<div class="panel panel-default">
    <form asp-controller="Cargo" asp-action="Index" asp-route-filter="@ViewData["Filter"]" method="post">
        <p>
            <input type="text" name="filter" />
            <input type="submit" value="Filtrar" />
        </p>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Cargo.Codigo)</th>
                <th>@Html.DisplayNameFor(model => model.Cargo.Descricao)</th>
                <th>Departamento</th>
            </tr>
        </thead>

        <tbody>
            @if (Model is not null)
            {
                @foreach (var item in Model.Cargos)
                {
                    <tr>
                        <td>@item.Codigo</td>
                        <td>@item.Descricao</td>
                        <td>@item.DepartamentoCodigo</td>

                        <td>
                            <a asp-action="Atualizar" asp-route-codigo="@item.Codigo" title="Atualizar" class="btn btn-warning">
                                <span class="fas fa-edit">Atualizar</span>
                            </a>

                            <a onclick="confirmarRemocao('@item.Codigo')" title="Remover"
                               class="btn btn-danger">
                                <span class="fas fa-trash-alt">Excluir</span>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <partial name="PagerPartial" model="Model.PageInfo" />
</div>
<partial name="Partials/ExcluirRegistroPartialModal" for="Cargo"></partial>