@using Domain.Entities
@{
    var usuarioAutenticado = Context.User.Identity.IsAuthenticated;
}

@if (usuarioAutenticado)
{
    <div class="container my-5">
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-building icon-departamento display-1"></i>
                        <h5 class="card-title mt-3">Departamentos</h5>
                        <p class="card-text">Gerencie os departamentos da empresa.</p>
                        <a href="@Url.Action("MenuPrincipal", nameof(Departamento))" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-briefcase icon-cargo display-1"></i>
                        <h5 class="card-title mt-3">Cargos</h5>
                        <p class="card-text">Gerencie os cargos da empresa.</p>
                        <a href="@Url.Action("MenuPrincipal", nameof(Cargo))" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-users icon-usuario display-1"></i>
                        <h5 class="card-title mt-3">Usuários</h5>
                        <p class="card-text">Gerencie os colaboradores da empresa.</p>
                        <a href="@Url.Action("MenuPrincipal", nameof(Usuario))" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-list-check icon-tarefa display-1"></i>
                        <h5 class="card-title mt-3">Tarefas</h5>
                        <p class="card-text">Gerencie as tarefas da empresa.</p>
                        <a href="@Url.Action("MenuPrincipal", nameof(Tarefa))" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-money-bill icon-salario display-1"></i>
                        <h5 class="card-title mt-3">Salários</h5>
                        <p class="card-text">Gerencie o salário da empresa.</p>
                        <a href="@Url.Action("MenuPrincipal", nameof(Salario))" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-sliders icon-acesso display-1"></i>
                        <h5 class="card-title mt-3">Políticas e Acessos</h5>
                        <p class="card-text">Gerencie as políticas de acesso do sistema.</p>
                        <a href="@Url.Action("GerenciamentoDeAcesso", nameof(PerfilDeAcesso))" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
} 