@model IEnumerable<PersonalTracking.Models.DepartmentModel>

@{
    ViewBag.Title = "List of Departments";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create", "DepartmentApi", new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentModelName)
        </td>
        <td class="button-cell">
            @Html.ActionLink("Edit", "UpdateDepartment", new { id = item.DepartmentModelId }, new { @class = "btn btn-primary" })
            
            @Html.ActionLink("Details", "Details", new { id = item.DepartmentModelId }, new { @class = "btn btn-info" })
            
            @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentModelId }, new { @class = "btn btn-danger" })

        </td>
    </tr>
}

</table>
