@using Atron.Application.DTO
@using Newtonsoft.Json;
@using Atron.WebViews.Models;
@model DepartamentosListViewModel

<link href="~/css/site.css" />
<style>
    .modal-lg {
        max-width: 80%;
    }
</style>

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a asp-action="Cadastrar" class="btn btn-success">
                <span title="Cadastrar novo" class="fas fa-plus"></span> Cadastrar novo
            </a>
        </div>      
    </div>
</div>
<br />

<div class="panel panel-default">
    <form asp-controller="Departamento" asp-action="Index" method="get">
        <p>
            <input type="text" name="filter" />
            <input type="submit" value="Filtrar" />
        </p>
    </form>

    <div id="departamentos">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamentos.FirstOrDefault().Codigo)
                    </th>
                    <th>@Html.DisplayNameFor(model => model.Departamentos.FirstOrDefault().Descricao)</th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.Departamentos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model_item => item.Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(model_item => item.Descricao)
                            </td>
                            <td>

                                <a href="javascript:void(0);" onclick="abrirModal('@item.Codigo')" class="btn btn-warning">Atualizar</a>


                                <a href="javascript:void(0);" onclick="confirmarRemocao('@item.Codigo')" title="Remover" class="btn btn-danger">
                                    <span class="fas fa-trash-alt">Excluir</span>
                                </a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="btn-group pull-right m-1">
        @if (Model.PagingInfo is not null)
        {
            @if (Model.PagingInfo.TotalPages > 1)
            {
                for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    <a asp-action="Index"
                       asp-route-itemPage="@i"
                       asp-route-filter="@Model.PagingInfo.Filter"
                       class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-outline-dark")">
                        @i
                    </a>
                }
            }
        }
    </div>
</div>
<br />
<script src="~/js/departamentoScript.js"></script>
<partial name="Partials/Departamento/AtualizarDepartamentoModal" for="Departamentos"></partial>
<partial name="Partials/Departamento/ExcluirDepartamentoModal" for="Departamentos"></partial>