@using Atron.Application.DTO;
@using Shared.DTO;
@using Newtonsoft.Json;
@using Atron.WebViews.Models;
@model PageInfoDTO<DepartamentoDTO>

<link href="~/css/site.css" />
<style>
    .modal-lg {
        max-width: 80%;
    }
</style>

<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a asp-action="Cadastrar" class="btn btn-success">
                <span title="Cadastrar novo" class="fas fa-plus"></span> Cadastrar novo
            </a>
        </div>
    </div>
</div>
<br />

<div class="panel panel-default">
    <form asp-controller="Departamento" asp-action="Index" method="get">
        <p>
            <input type="text" name="filter" />
            <input type="submit" value="Filtrar" />
        </p>
    </form>
    <div id="departamentos">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Entities.FirstOrDefault().Codigo)
                    </th>
                    <th>@Html.DisplayNameFor(model => model.Entities.FirstOrDefault().Descricao)</th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.Entities)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model_item => item.Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(model_item => item.Descricao)
                            </td>
                            <td>

                                <a asp-action="Atualizar" asp-route-codigo="@item.Codigo" title="Atualizar" class="btn btn-warning">
                                    <span class="fas fa-edit">Atualizar</span>
                                </a>

                                <a href="javascript:void(0);" onclick="confirmarRemocao('@item.Codigo')" title="Remover" class="btn btn-danger">
                                    <span class="fas fa-trash-alt">Excluir</span>
                                </a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        
    </div>

</div>
<br />
<script src="~/js/departamentoScript.js"></script>
<partial name="Partials/Departamento/ExcluirDepartamentoModal" for="Entities"></partial>