@using Atron.Application.DTO
@using System;
@model TarefaDTO
@{
    var actionPage = ViewData["ActionPage"];
}

<form id="formTarefa" asp-action="@actionPage" method="post" class="form-horizontal">
    <input hidden type="text" value="@actionPage" id="actionPage" />
    <input asp-for="Id" value="@Model.Id" type="text" id="tarefaId" hidden="hidden" />
    <!--Informações de usuário-->
    <fieldset>
        <legend class="fw-semibold">Informações do Usuário</legend>
        <div id="usuarioFormContainer" class="row">
            <div class="col">
                <label asp-for="Usuario.Codigo" class="form-label">Código do Usuário</label>
                <input asp-for="Usuario.Codigo" type="text" aria-label="@Model.Usuario.Codigo" class="form-control" disabled />
                <input asp-for="UsuarioCodigo" hidden="hidden" />
            </div>
            <div class="col">
                <label asp-for="Usuario.Cargo.Descricao" class="form-label">Cargo</label>
                <input asp-for="Usuario.Cargo.Descricao" type="text" class="form-control" disabled />
            </div>
            <div class="col">
                <label asp-for="Usuario.Departamento.Descricao" class="form-label">Departamento</label>
                <input asp-for="Usuario.Departamento.Descricao" type="text" class="form-control" disabled />
            </div>
        </div>
    </fieldset>
    <hr />
    <!--Informações da tarefa-->
    <fieldset>
        <legend class="fw-semibold">Nova Tarefa</legend>        
        <div class="mb-4">
            <label asp-for="Titulo" class="form-label">Título</label>
            <input asp-for="Titulo" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Conteudo" class="form-label">Descrição</label>
            <textarea asp-for="Conteudo" class="form-control"></textarea>
        </div>
        <div class="row">
            <partial name="Partials/Tarefa/FormTarefaDatas" model="@Model"></partial>
        </div>
        <br />
        <div row>
            <div class="col-4">
                <label asp-for="TarefaEstadoId" class="form-label">Estado</label>
                <select asp-for="TarefaEstadoId" class="form-control" asp-items="@ViewBag.TarefaEstados">
                    <option value="">Selecione o estado da tarefa</option>
                </select>
                <span asp-validation-for="TarefaEstadoId" class="text-danger"></span>
            </div>
        </div>
        <br />
    </fieldset>

    @if (actionPage.Equals("Cadastrar"))
    {
        <partial name="Partials/BtnSubmitCadastrar"></partial>
    }
    else
    {
        <partial name="Partials/BtnSubmitAtualizar"></partial>
    }
</form>
